body {
    /*background-color: rgb(218, 216, 216);*/
    background-image: url("./public/disney.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*max-width: 100%;
    max-height: 100%;*/
    font-family: 'New Walt Disney Font', sans-serif;                                      
    
  }
  
  h1 {
    font-weight: 600 !important;
  }

  .indiv-card {
    transition: all 0.5s ease;
    background-color: rgba(245, 245, 245, 0.938);
  }
  
  .indiv-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }

  .loading {
    /* font-size: larger; */
    text-align: center;
    color:rgba(242, 244, 244, 0.911)
  }

  .single-view {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  
    margin: 30px auto 0px auto;
    padding: 24px;
    width: 85%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(102, 103, 112, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  ul {
    font-size: 25px;
  }